<a href="https://colab.research.google.com/github/22jeongyeon/com_221202/blob/main/com_22201_221202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("########################")
print("# 합격 불합격 프로그램 #")
print("########################")
grade = int(input("성적을 입력하시오.: "))
if grade >= 60 :
  print("합격")
else :
  print("불합격")

########################
# 합격 불합격 프로그램 #
########################
성적을 입력하시오.: 80
합격

In [ ]:
print("########################")
print("#    이름, 나이, 답변 앱       #")
print("########################")
yu_name = str(input("이름: "))
yu_age = int(input("나이: "))
if yu_age <= 25 :
  print("와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!")
else:
  print("포기하기에는 아직 늦지 않았습니다.")
print(" n")

########################
#    이름, 나이, 답변 앱       #
########################
이름: 정연
나이: 24
와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!
 n

In [ ]:
print("########################")
print("#    짝수와 홀수 판별 앱 - 1    #")
print("########################")

sm_int = int(input("정수를 입력하시오: "))
if (sm_int % 2) != 0 :
  print("홀수")
else:
  print("짝수")

########################
#    짝수와 홀수 판별 앱 - 1    #
########################
정수를 입력하시오: 2
짝수

In [33]:
print("########################")
print("#    짝수와 홀수 판별 앱 - 2    #")
print("########################")
def printEvenOdd():
  if userData % 2 == 0. :
    print('입력한 정수는 짝수 입니다.')
  else:
    print('입력한 정수는 홀수 입니다.')
userData = int(input('정수를 입력하세요. '))
printEvenOdd()

########################
#    짝수와 홀수 판별 앱 - 2    #
########################
정수를 입력하세요. 10
입력한 정수는 짝수 입니다.

In [35]:
intro = 'Good morning.'
print(intro)
print(intro)
print(intro)
# 키보드를 통해서 입력값 받고 출력하기
kor = input('국어 점수를 입력하세요. : ')
eng = input('영어 점수를 입력하세요. : ')
mat = input('수학 점수를 입력하세요. : ')
print("국어", kor)
print("영어", eng)
print("수학", mat)

Good morning.
Good morning.
Good morning.
국어 점수를 입력하세요. : 80
영어 점수를 입력하세요. : 80
수학 점수를 입력하세요. : 70
국어 80
영어 80
수학 70

In [37]:
kor = int(input('국어 점수를 입력하세요. '))
eng = int(input('영어 점수를 입력하세요. '))
mat = int(input('수학 점수를 입력하세요. '))
print('총점 : ', (kor + eng + mat))
print('평균 : ', (kor + eng + mat) / 3)

국어 점수를 입력하세요. 80
영어 점수를 입력하세요. 80
수학 점수를 입력하세요. 70
총점 :  230
평균 :  76.66666666666667

In [39]:
#정수 2개 입력받아서 더하고, 2로 나누기
num1 = int(input('첫 번째 정수를 입력하세요. '))
num2 = int(input('두 번째 정수를 입력하세요. '))
print('합 : ', num1 + num2)
print('평균 : ', (num1 + num2) / 2)

첫 번째 정수를 입력하세요. 2
두 번째 정수를 입력하세요. 2
합 :  4
평균 :  2.0

In [40]:
print('사용자 정보를 입력하세요.')
name = input('이름 : ')
phone = input('연락처 : ')
mail = input('메일 : ')
job = input('직업 : ')
print(name)
print(phone)
print(mail)
print(job)

사용자 정보를 입력하세요.
이름 : 정연
연락처 : 010
메일 : jeongyeon
직업 : 학생
정연
010
jeongyeon
학생